td>a:nth-child(1) {
    padding: 20px;
    background-color: orange;
    color: black;
    border-radius: 20%
}

td>a:nth-child(2) {
    padding: 20px;
    background-color: lightblue;
    color: black;
    border-radius: 20%
}

.bayar:hover,
.detail:hover {
    background-color: black;
    color: #fff;
}

h2 {
    text-align: center;
}

table th {
    border: 1px solid black;
}